<div class="container-fluid min-vh-100 d-flex p-3 overflow-hidden">

  <div class="col-md-7 d-none d-md-block p-0">
    <div class="position-relative w-100 h-100 rounded-4 overflow-hidden">
      <img src="assets/forest2.jpg" class="w-100 h-100 object-fit-cover rounded-4" alt="Forest" />
      <div class="position-absolute bottom-0 start-50 translate-middle-x text-white text-center p-4">
        <img src="assets/logo.png" class="mb-3" alt="Logo" style="width: 80px;" />
        <h2>E-ARCHIVE</h2>
        <p>HỆ THỐNG KHO LƯU TRỮ TƯ LIỆU ĐIỆN TỬ TẬP TRUNG</p>
        <p class="small">&copy; 2023 NLER. All rights reserved</p>
      </div>
    </div>
  </div>

  <div class="col-md-5 d-flex align-items-center justify-content-center p-4 bg-white">
    <div class="w-75" style="max-width: 400px;">
        <div class="d-flex align-items-center justify-content-center gap-2 mb-4">
            <span style="cursor: pointer;" (click)="goBack()" class="fs-4">←</span>
            <h1 class="m-0 fs-3">Quên mật khẩu</h1>
        </div>
  
      <p class="text-muted text-center mb-4">Nhập email đã đăng ký để lấy lại mật khẩu</p>

      <form [formGroup]="emailForm">
        <div class="position-relative mb-3">
          <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
          <i class="bi bi-envelope email-icon"></i>
          <input 
            type="email" 
            class="form-control ps-5" 
            id="email" 
            formControlName="email" 
            placeholder="Nhập email"
            [ngClass]="{'is-invalid': emailForm.get('email')?.invalid && emailForm.get('email')?.touched}"
          >

          <div *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.invalid" class="invalid-feedback">
            <span *ngIf="emailForm.get('email')?.errors?.['required']">Vui lòng nhập email</span>
            <span *ngIf="emailForm.get('email')?.errors?.['email']">Email không đúng định dạng</span>
          </div>
        </div>
      
        <button 
          type="button" 
          class="btn btn-primary w-100 py-2 mb-3 mt-4" 
          (click)="onSubmit()" 
          [disabled]="emailForm.invalid" 
        >
          Đăng nhập
        </button>
      </form>

      <div class="text-center my-4">

        <div class="position-relative">
          <hr class="my-3"> 
          <span class="position-absolute top-50 start-50 translate-middle bg-white px-2 text-muted">
            hoặc
          </span>
        </div>
        
        <div class="mt-3">
          <a (click)="goToRegister()" class="text-decoration-none fw-bold" style="cursor: pointer;">
            Tạo tài khoản mới →
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">